<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
  <script type="text/javascript" src="//api.filepicker.io/v0/filepicker.js"></script>
  <script src="http://code.jquery.com/jquery-1.8.0.min.js" type="text/javascript"></script>
</head>
<body>

  <div id="saveResult">
  	<a href="#"> download </a>
  </div>
	
  <script type="text/javascript">
    filepicker.setKey('AZVBkEBdBRFC8PtjMueYnz');

    $('#saveResult a').click(function(){
    filepicker.saveAs(
        "https://s3.amazonaws.com/tokbox.com.staging/1127/b916aff2-b39c-4a21-8792-bfcb97efd258/80788998-f3a3-4a02-921d-a603fc709247.flv?Signature=PLbni%2B6KaF3iHxLUqc3EcTJgb4I%3D&Expires=1344997084&AWSAccessKeyId=AKIAI7IKEYKO7NEZ4N3Q",
        'video/x-flv',
        function(url){
        $('#saveResult a').attr('href', url).html(url);
        });
      });
</script>
</body>
</html>
