<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>A simple static page</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" href="stylesheets/app.css" />
  <link rel="stylesheet" href="stylesheets/button.css" />
	<script type="text/javascript" src="javascripts/jquery1.7.1.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
</head>
<body>
  <div id="info" key="<%= @key %>" session="<%= @session %>" token="<%= @token %>" fpKey="<%= @FPKey %>"></div>

  <div id="shareURL">
    <img src="/images/shareURL.png" alt="" />
  </div>

  <div id="logo">
    <img src="/images/filepickerOpenTok.png" alt="" />
  </div>

  <div class="container">
    <div id="pubContainer">
      <div id="myPublisherDiv"></div>
    </div>
    <span class="initialButton" id="startRecording"></span>
    <p id="processingMessage">Video Processing may take up to 1 minute. Please be patient</p>
    <div class="row">
      <div class="span8 offset2">
        <p id="endMessage">This app is made possible with <a href="http://tokbox.com/opentok/api/features" >OpenTok API</a> for video chat and recording, and <a href="http://filepicker.io" >Filepicker.io</a> for saving the archive. To get the complete source code, visit the <a href="https://github.com/songz/ArchiveWithFilePickerOpenTok.git" >GitHub Repo</a>. To use this again, <a id="refresh" href="#">refresh</a> your page!</p>
      </div>
    </div>
  </div>

  <div id="developerProfile">
    <h1>About Developer</h1>
    <div id="developerPic" class="devContent">
      <a href="http://songz.me">
        <img src="http://graph.facebook.com/songzme/picture" alt="" />
      </a>
    </div>
    <div id="developerInfo" class="devContent">
      <h1>Developer Evangelist</h1>
      <a href="http://tokbox.com">
        <h1>TokBox</h1>
      </a>
    </div>
    <div class="clear"></div>
    <div id="socialIcons">
      <a href="http://facebook.com/songzme">
        <img id="" src="/images/songz_fb.png" alt="" />
      </a>
      <a href="http://twitter.com/songzme">
        <img id="" src="/images/twitterIcon.png" alt="" />
      </a>
      <a href="http://twitter.com/songzme">
        <img id="" src="/images/linkedIn.png" alt="" />
      </a>
      <a href="http://blog.songz.me">
        <img id="" src="/images/wordpress.png" alt="" />
      </a>
    </div>
  </div>

  <script type="text/javascript" src="//api.filepicker.io/v0/filepicker.js"></script>
  <script src="javascripts/app.js" type="text/javascript"></script>
</body>
</html>
